<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
<body class="container">
    <header>
        <%- include('../partials/nav'); %>
    </header>

    <div class="container jumbotron text-center d-flex flex-column mt-1">
        <div class="d-flex justify-content-center">
            <div class="col-md-10 text-center mt-5">             
                <div class="card shadow">
                    
                    <div class="card-header">
                        <p class="h3">Conocenos</p>
                    </div>
                    
                    <div class="card-body">
                       <p>
                            Somos un grupo de cuatro estudiantes de la escuela Urquiza. Esta página, es el fruto del proyecto presentado en la materia Práctica Profesionalizante y tiene como finalidad (entre otras) la de contribuir con nuestro "granito de arena" para la sociedad.
                            Pensamos día a día en cómo mejorar la calidad de vida de las personas, creando soluciones a problemáticas cotidianas mediante el desarrollo de software, poniendo a disposición nuestras principales herramientas: conocimiento y calidad humana.
                            Queremos seguir creciendo como futuros profesionales para darte lo mejor, y en ese proceso, apelamos a tu contribución para implementar nuevas ideas, mejoras y propuestas en este proyecto.
                      </p>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
      
</body>
</html>