<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
<body class="container">
    <header>
        <%- include('../partials/nav'); %>
    </header>

    <div class="container jumbotron text-center d-flex flex-column mt-1">
        <div class="d-flex justify-content-center">
            <div class="col-md-10 text-center mt-5">             
                <div class="card shadow">
                    
                    <div class="card-header">
                        <p class="h3">Contacto</p>
                    </div>
                    
                    <div class="card-body">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius obcaecati possimus odio, officiis repellat in porro nulla. Nam iste necessitatibus tempore cupiditate! Molestiae, officiis ipsum? Nulla vitae sint quidem molestiae!
                        </p>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
      
</body>
</html>