<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head'); %>
    </head>

<body class="container">
    
    <header>
        <%- include('../partials/nav'); %>
    </header>

    <div class="container jumbotron text-center d-flex flex-column mt-1">
        <div class="d-flex justify-content-center">
            <div class="col-md-10 text-center mt-5">
                <div class="card shadow">
                    
                    <div class="card-header">
                        <p class="h3">Ayuda</p>
                    </div>
                    
                    <div class="card-body"> 
                        <video width="560" height="315" controls>
                            <source src="./assets/video_pagina_01.mp4" type="video/mp4">
                          </video>
                    </div>

                </div>
            </div>
        </div>
    </div>
      
</body>
</html>