<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/nav'); %>
    </header>

    <main>
        <div id="mapid"></div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>