<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/nav'); %>
  </header>

  <main>
    <div class="row justify-content-evenly home-body">
      <div class="col-4">
                  <div class="row justify-content-between">
            <div class="form-check form-control-custom">
              <input class="form-check-input" type="radio" name="tipoTratamiento" value="Diálisis">
              <label class="form-check-label" for="flexRadioDefault1">
                Diálisis
              </label>
            </div>

            <div class="form-check form-control-custom">
              <input class="form-check-input" type="radio" name="tipoTratamiento" id="oncologia" value="Oncología">
              <label class="form-check-label" for="flexRadioDefault1">
                Oncología
              </label>
            </div>
          </div>
          <select class="form-select form-control-custom" aria-label="Provincia">
            <option selected>Elegir provincia</option>
            <option value="1">Santa fe</option>
          </select>
          <select class="form-select form-control-custom" aria-label="Ciudad" id="ciudad">
            <option selected>Elegir ciudad</option>
            <option value="1">Rosario</option>
            <option value="2">Santa fe</option>
          </select>

          <div class="card">
            <div class="card-body">
              <div class="form-check form-control-custom">
                <input class="form-check-input" type="checkbox" value="" id="sistemaPrivado">
                <label class="form-check-label" for="sistemaPrivado">
                  Sistema privado
                </label>
              </div>
              <select class="form-select form-control-custom" aria-label="Obra social" id="obraSocial">
                <option selected>Elegir obra social</option>
                <option value="1">Medife</option>
                <option value="2">Swiss Medical</option>
                <option value="3">OSUNR</option>
              </select>
            </div>
          </div>
          <div class="btn-container">
            <div class="row justify-content-evenly">
              <div class="col-6">
                <button type="submit" class="btn btn-primary full-width">Limpiar filtros</button>
              </div>
              <div class="col-6">
                <button class="btn btn-primary full-width" onclick="search()">Buscar</button>
              </div>
            </div>
          </div>

          <div id="testing"></div>
      </div>
      <div class="col-8">
        <div id="mapid"></div>
      </div>

    </div>

  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

</body>

<script>
  var mymap = L.map('mapid').setView([-32.94210704622841, -60.65314387346393], 12);

  L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18,
  }).addTo(mymap);

  var greenIcon = L.icon({
    iconUrl: './assets/leaf-green.png',

    iconSize: [38, 95], // size of the icon
    iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
  });

  setTimeout(function() {
    mymap.invalidateSize();
  }, 0);

  // Hide the div when the page loads
  $("#obraSocial").hide();

  // Listen for the checkbox to be checked
  $("input[type=checkbox]").click(function() {
    if (this.checked) {
      $("#obraSocial").show();
    } else {
      $("#obraSocial").hide();
    }
  });

  function getFilters() {
  var ele = document.getElementsByName('tipoTratamiento');
  for (i = 0; i < ele.length; i++) {
    if (ele[i].checked) {
      tratamiento = ele[i].value;
    }
  }
  }

function filtrarCentros(elemento) {
  getFilters()
  if (elemento.tratamiento.includes(tratamiento)) {
    return true;
  } else {
    return false;
  }
}

function search() {
  var centrosFiltrados = listadoCentros.filter(filtrarCentros);
  generateMarkers(centrosFiltrados);
}

function generateMarkers(centros) {
   centros.forEach(c => {
     L.marker([c.latitud, c.longitud], {
       icon: greenIcon
     }).addTo(mymap);
   });
}

listadoCentros = [
  {nombre: 'Hospital Provincial del Centenario', tratamiento: ['Diálisis'], ciudad: 'Rosario', privado: false, latitud: -32.93865866198946, longitud: -60.66511115823101},
  {nombre: 'Hospital Privado de Rosario', tratamiento: ['Oncología'], ciudad: 'Rosario', privado: true, latitud: -32.9645474597667, longitud: -60.65022193124232, obraSocial: ['Medife', 'OSUNR', 'Swiss Medical']},
  {nombre: 'Hospital de niños zona norte', tratamiento: ['Diálisis'], ciudad: 'Rosario', privado: false, latitud: -32.912240122326956, longitud: -60.68219110240826},
]
</script>

<style>
  #mapid {
    height: 25rem;
    width: auto;
  }
</style>

</html>
